[submodule "reference/janus"]
	path = reference/janus
	url = https://github.com/tanged123/janus.git
[submodule "reference/AeroSandbox"]
	path = reference/AeroSandbox
	url = https://github.com/peterdsharpe/AeroSandbox.git
[submodule "reference/aerospace-toolbox"]
	path = reference/aerospace-toolbox
	url = https://github.com/williamgravel/aerospace-toolbox.git
